.subscribe-section {
    background: #000000;
    padding: 60px 0 65px;
    height: 22rem !important;
    width: 85vw;

}
.dark-line h1{
    color: #000000;
}
.subscribe-cont{
    margin-left: 7% !important;
}
.subscribe-head h2 {
    color: #fff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 30px;
    margin: 0 0 13px;
    text-transform: uppercase;
    
}
.subscribe-head p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 39px;

}
.subscribe-head {
    text-align: center;
    padding-top: 25px !important;
    margin-left: 16rem;
}
.form-section input[type="email"] {
    border: 0 none;
    border-radius: 25px;
    color: #9b9b9b;
    font-size: 16px;
    font-style: normal;
    height: 51px;
    letter-spacing: 0;
    text-align: center;
    width: 460px;
}
.form-section input[type="submit"] {
    background: #E1D7CA none repeat scroll 0 0;
    border: 0 none;
    border-radius: 25px;
    color: #fff;
    height: 51px;
    letter-spacing: 0;
    margin-left: -60px;
    padding: 0 58px;
}